
temp_data/Guides/FULLKITS/FULLKITS/AR_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/BR_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/CL_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/DE_Guides_Fullkit_080618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/ES_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/FR_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/NL_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/Parents_Articles_Remapping_Guides\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/PL_Guides_Fullkit_080618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/RU_Guides_Fullkit_120618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/SA_Guides_Fullkit_070618\.xlsx

temp_data/Guides/FULLKITS/FULLKITS/TR_Guides_Fullkit_130618\.xlsx

chromeTools/

cypress/download/articleV2/

cypress/report/articleV2/

cypress/screenshots/
